@import "../../colors.scss";

.choice-field {
  font-size: 0.9em;

  .field-name {
    margin: 0;
  }

  .field-select {
    position: relative;
    margin-top: 5px;

    .field-value {
      padding: 7px 25px 7px 10px;
      cursor: pointer;
      color: $color-primary-4;
      border: none;
      border-radius: 5px;
      background-color: $color-primary-2;

      &::after {
        position: absolute;
        right: 10px;
        content: "⋎";
      }
    }

    .field-options {
      position: absolute;
      z-index: 100;
      top: 35px;
      display: none;
      width: 100%;
      border-top: 3px solid $color-primary-0;
      border-radius: 5px;
      background-color: $color-primary-2;

      .field-option {
        display: block;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px;
      }

      .field-option:hover {
        background-color: $color-primary-1;
      }
    }

    &:focus {
      outline: none;
    }
  }

  .field-select.select-expanded {
    .field-options {
      display: block;
    }

    .field-value::after {
      content: "⋏";
    }
  }

  &.field-small {
    font-size: 0.8em;
  }
}
