@import '../../colors.scss';

.field {

  input, textarea {
    background-color: $color-primary-2;
    width: 100%;
    border: none;
    color: $color-primary-4;
    border-radius: 5px;
    padding: 7px 10px;

    &:focus {
      background-color: $color-primary-1;
      color: $color-primary-4;
      box-shadow: none;
      outline: none;
    }

    &[readonly] {
      background-color: $color-primary-2;
      border: none;
      color: $color-primary-4;
    }

    &[readonly]:focus {
      background-color: $color-primary-1;
      color: $color-primary-4;
      box-shadow: none;
    }
  }

  button {
    border-radius: 0;
    background-color: $color-primary-2;
    border: none;
    color: $color-primary-4;
    outline: none;
    padding: 5px 12px;
    font-weight: 500;

    &:hover,
    &:active {
      background-color: $color-primary-1;
      color: $color-primary-4;
    }

    &:focus,
    &:active {
      outline: none !important;
      box-shadow: none !important;
    }
  }
}
