@import "../../colors.scss";

.field {
  input,
  textarea {
    font-family: "Fira Code", monospace;
    width: 100%;
    padding: 7px 10px;
    color: $color-primary-4;
    border: none;
    border-radius: 5px;
    background-color: $color-primary-2;

    &:focus {
      color: $color-primary-4;
      outline: none;
      background-color: $color-primary-1;
      box-shadow: none;
    }

    &[readonly] {
      color: $color-primary-4;
      border: none;
      background-color: $color-primary-2;
    }

    &[readonly]:focus {
      color: $color-primary-4;
      background-color: $color-primary-1;
      box-shadow: none;
    }
  }

  button {
    font-weight: 500;
    padding: 5px 12px;
    color: $color-primary-4;
    border: none;
    border-radius: 0;
    outline: none;
    background-color: $color-primary-2;

    &:hover,
    &:active {
      color: $color-primary-4;
      background-color: $color-primary-1;
    }

    &:focus,
    &:active {
      outline: none !important;
      box-shadow: none !important;
    }
  }
}
