@import '../colors.scss';

.connection {
  background-color: $color-primary-0;
  margin-bottom: 5px;


  &.connection-marked {
    border-right: 5px solid $color-secondary-2;
  }

  .connection-service {
    padding: 0 12px 0 0;

    .btn {
      font-size: 12px;
      width: 120px;
    }
  }

  .connection-separator {
    margin: 0 10px;
  }

  .connection-duration {
    margin-left: 15px;

    //.connection-seconds {
    //  width: 75px;
    //  display: inline-block;
    //  text-align: right;
    //}
  }

  .connection-bytes {
    margin-left: 10px;
    margin-right: 10px;

    .connection-bytes-count {
      margin-right: 5px;
    }
  }

  .connection-hide, .connection-mark, .connection-comment, .connection-link {
    margin-left: 5px;
  }


  svg {
    margin-right: 6px;
  }

}

