@import '../../../colors.scss';

.color-field {
  display: flex;
  align-items: flex-end;

  .input-field {
    flex: 1;

    input {
      border-bottom-right-radius: 0 !important;
      border-top-right-radius: 0 !important;
    }
  }

  .color-picker {
    margin-bottom: 5.5px;

    .btn-picker {
      padding: 8.5px 15px;
      border-bottom-right-radius: 5px;
      border-top-right-radius: 5px;
      background-color: $color-indigo;
    }
  }


}

.colors-container {
  width: 600px;

  .color-input {
    display: inline-block;
    width: 31px;
    height: 31px;
    cursor: pointer;
  }
}