@import "../../../colors.scss";

.color-field {
  .color-input {
    display: flex;
    align-items: flex-end;

    .input-field {
      flex: 1;

      input {
        border-top-right-radius: 0 !important;
        border-bottom-right-radius: 0 !important;
      }
    }

    .color-picker {
      margin-bottom: 5px;

      .picker-button {
        font-size: 0.8em;
        padding: 8px 15px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        background-color: $color-primary-1;
      }
    }
  }

  .color-error {
    font-size: 0.8em;
    margin-left: 10px;
    color: $color-secondary-0;
  }
}

.colors-container {
  width: 600px;

  .color-input {
    display: inline-block;
    width: 31px;
    height: 31px;
    cursor: pointer;
  }
}
