@import '../../colors.scss';

.pane-container {
  background-color: $color-primary-3;
  padding: 10px 10px 0;
  height: 100%;

  .pane-section {
    margin-bottom: 10px;
    background-color: $color-primary-0;

    .section-header {
      background-color: $color-primary-2;
      padding: 5px 10px;
      font-weight: 500;
      font-size: 0.9em;
      display: flex;

      .api-request {
        flex: 1;
      }
    }

    .section-content {
      padding: 10px;
    }

    .section-table {
      position: relative;
      overflow-y: scroll;

      .table-error {
        font-size: 0.8em;
        color: $color-secondary-0;
        margin-left: 10px;
      }
    }

    table {
      margin-bottom: 0;

      tbody tr {
        background-color: $color-primary-3;
        border-top: 3px solid $color-primary-0;
        border-bottom: 3px solid $color-primary-0;
      }

      th {
        background-color: $color-primary-2;
        font-size: 0.8em;
        position: sticky;
        top: 0;
        padding: 2px 5px;
        border: none;
      }

      .row-small {
        font-size: 0.9em;
      }

      .row-clickable {
        cursor: pointer;

        &:hover {
          background-color: $color-primary-0;
        }
      }

      .row-selected {
        background-color: $color-primary-0;
      }
    }
  }

  .section-footer {
    display: flex;
    padding: 10px;
    background-color: $color-primary-0;
    justify-content: flex-end;

    .button-field {
      margin-left: 10px;
    }
  }

  .double-pane-container {
    display: flex;

    .pane-section {
      flex: 1;
    }

    .pane-section:nth-child(1) {
      margin-right: 5px;
    }

    .pane-section:nth-child(2) {
      margin-left: 5px;
    }
  }
}
