@import "../../colors";

.configuration-pane {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: $color-primary-0;

  .pane {
    flex-basis: 900px;
    margin-bottom: 200px;
  }

  .pane-container {
    padding-bottom: 1px;
  }
}
