@import '../../colors.scss';

.pane-container {

  .table-cell-action {
    font-size: 13px;
    font-weight: 600;
  }

  .upload-actions {
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px;
  }

  .upload-options {
    flex: 1;

    span {
      font-size: 0.9em;
    }
  }

}