
.rule-pane {
  display: flex;
  flex-direction: column;

  .rules-list {
    overflow: hidden;
    flex: 2 1;

    .section-content {
      height: 100%;
    }

    .section-table {
      height: calc(100% - 30px);
    }
  }

  .rule-edit {
    display: flex;
    flex: 3 0;
    flex-direction: column;

    .section-content {
      flex: 1;
    }

    .section-table {
      max-height: 150px;
    }
  }
}
