
.service-pane {
  display: flex;
  flex-direction: column;

  .services-list {
    overflow: hidden;
    flex: 1;

    .section-content {
      height: 100%;
    }

    .section-table {
      height: calc(100% - 30px);
    }
  }

  .service-edit {
    flex: 0;
  }
}
