.page {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100vh;

  .page-header,
  .page-footer {
    flex: 0;
  }

  .page-content {
    overflow: hidden;
    flex: 1;
  }
}
