@import "../../colors";

.configuration-page {
  height: 100vh;
  background-color: $color-primary-0;

  .header-title {
    margin: 50px auto;
  }

  .configuration-pane {
    display: flex;
    justify-content: center;

    .section-content {
      margin-top: 15px;
      background-color: $color-primary-3;
    }

    .section-footer {
      background-color: $color-primary-3;
    }
  }
}
