@import "../../colors";

.main-page {
  .page-header {
    min-height: 80px;
  }

  .page-footer {
    overflow: hidden !important;
    min-height: 175px;
  }

  .page-content {
    padding: 0 7.5px;

    .connections-pane {
      margin-right: 7.5px;
    }

    .details-pane {
      overflow: hidden;
      margin-left: 7.5px;
    }
  }
}
