@import "../../colors";

.react-tags {
  font-size: 12px;
  position: relative;
  z-index: 10;
  padding: 0 6px;
  cursor: text;
  border-radius: 4px;
  background-color: $color-primary-2;
}

.react-tags.is-focused {
  border-color: #b1b1b1;
}

.react-tags__selected {
  display: inline;
}

.react-tags__selected-tag {
  font-size: 11px;
  display: inline-block;
  margin: 0 6px 6px 0;
  padding: 2px 4px;
  color: $color-primary-3;
  border: none;
  border-radius: 2px;
  background: $color-primary-4;
}

.react-tags__selected-tag::after {
  margin-left: 8px;
  content: "\2715";
  color: $color-primary-3;
}

.react-tags__selected-tag:hover,
.react-tags__selected-tag:focus {
  border-color: #b1b1b1;
}

.react-tags__search {
  display: inline-block;
  max-width: 100%;
  padding: 7px 10px;
}

@media screen and (min-width: 30em) {
  .react-tags__search {
    position: relative;
  }
}

.react-tags__search-input {
  font-size: inherit;
  line-height: inherit;
  max-width: 100%;
  margin: 0;
  padding: 0;
  color: $color-primary-4;
  border: 0;
  outline: none;
  background-color: $color-primary-2;
}

.react-tags__search-input::-ms-clear {
  display: none;
}

.react-tags__suggestions {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

@media screen and (min-width: 30em) {
  .react-tags__suggestions {
    width: 240px;
  }
}

.react-tags__suggestions ul {
  font-size: 12px;
  margin: 4px -1px;
  padding: 0;
  list-style: none;
  color: $color-primary-1;
  border-radius: 2px;
  background: $color-primary-4;
}

.react-tags__suggestions li {
  padding: 3px 5px;
  border-bottom: 1px solid #ddd;
}

.react-tags__suggestions li mark {
  font-weight: 600;
  text-decoration: underline;
  background: none;
}

.react-tags__suggestions li:hover {
  cursor: pointer;
  color: $color-primary-4;
  background: $color-primary-0;
}

.react-tags__suggestions li.is-active {
  background: #b7cfe0;
}

.react-tags__suggestions li.is-disabled {
  cursor: auto;
  opacity: 0.5;
}
