@import '../../colors';

.filter {
  margin: 0 10px;
  position: relative;

  .filter-name-wrapper {
    background-color: $color-primary-2;
    padding: 3px 7px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }

  .filter-name {
    font-size: 13px;
  }

  .filter-value {
    font-size: 13px;
    padding-left: 0;
    border-radius: 5px;

    &:focus {
      background-color: $color-primary-2;
    }
  }

  &.filter-active {
    .filter-name-wrapper {
      background-color: $color-primary-4;
      color: $color-primary-3;
    }

    .filter-value {
      background-color: $color-primary-4;
      color: $color-primary-3;
    }
  }

  &.filter-invalid {
    .filter-name-wrapper {
      background-color: $color-secondary-2;
      color: $color-primary-4;
    }

    .filter-value {
      background-color: $color-secondary-2;
      color: $color-primary-4;
    }
  }

  .filter-delete {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10;
    font-size: 11px;
    letter-spacing: -0.5px;
    color: $color-primary-2;
    cursor: pointer;

    .filter-delete-icon {
      font-weight: 800;
    }
  }
}
