$color-primary-0: #17223b; // Main Primary color */
$color-primary-1: #040b1b;
$color-primary-2: #0f192e;
$color-primary-3: #1d2841;
$color-primary-4: #eaeaea;

$color-secondary-0: #ff6767;
$color-secondary-1: #a20a0a;
$color-secondary-2: #df3030;
$color-secondary-3: #ff9d9d;
$color-secondary-4: #ffdfdf;

$color-blue: #247085;
$color-blue-light: #a5b8be;
$color-blue-dark: #013b4c;

$color-green: #25965d;
$color-green-light: #cde4d8;
$color-green-dark: #004321;