$color-primary-0: #17223B;	// Main Primary color */
$color-primary-1: #040B1B;
$color-primary-2: #0F192E;
$color-primary-3: #1D2841;
$color-primary-4: #EAEAEA;

$color-secondary-0: #FF6767;
$color-secondary-1: #A20A0A;
$color-secondary-2: #DF3030;
$color-secondary-3: #FF9D9D;
$color-secondary-4: #FFDFDF;
