$color-primary-0: #17223b; // Main Primary color */
$color-primary-1: #040b1b;
$color-primary-2: #0f192e;
$color-primary-3: #1d2841;
$color-primary-4: #eaeaea;

$color-secondary-0: #ff6767;
$color-secondary-1: #a20a0a;
$color-secondary-2: #df3030;
$color-secondary-3: #ff9d9d;
$color-secondary-4: #ffdfdf;

$color-red: #E53935;
$color-red-light: #FFEBEE;
$color-red-dark: #B71C1C;

$color-pink: #D81B60;
$color-pink-light: #FCE4EC;
$color-pink-dark: #880E4F;

$color-purple: #8E24AA;
$color-purple-light: #F3E5F5;
$color-purple-dark: #4A148C;

$color-deep-purple: #5E35B1;
$color-deep-purple-light: #EDE7F6;
$color-deep-purple-dark: #311B92;

$color-indigo: #3949AB;
$color-indigo-light: #E8EAF6;
$color-indigo-dark: #1A237E;

$color-green: #43A047;
$color-green-light: #E8F5E9;
$color-green-dark: #1B5E20;

$color-blue: #1E88E5;
$color-blue-light: #E3F2FD;
$color-blue-dark: #0D47A1;
