@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap');
@import-normalize;

@import 'colors.scss';


body {
  margin: 0;
  font-family: 'Fira Code', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $color-primary-2;
  color: $color-primary-4;

  height: 100%;
  max-height: 100%;
}

pre {
  font-family: 'Fira Code', monospace;
  font-size: 14px;
}


.btn {
  border-radius: 0;
  background-color: $color-primary-2;
  border: none;
  border-bottom: 5px solid $color-primary-1;
  color: $color-primary-4;
  outline: none;
  padding: 5px 12px;
  font-weight: 500;

  &:hover, &:active {
    background-color: $color-primary-1;
    color: $color-primary-4;
  }

  &:focus, &:active {
    outline: none !important;
    box-shadow: none !important;
  }
}

.btn-sm {
  border: none;
  font-size: 12px;
}

.btn-red {
  color: $color-secondary-4;
  background-color: $color-secondary-2;
  border-bottom: 5px solid $color-secondary-1;

  &:hover, &:active {
    color: $color-secondary-4;
    background-color: $color-secondary-1;
  }
}

.btn-blue {
  color: $color-blue-light;
  background-color: $color-blue;
  border-bottom: 5px solid $color-blue-dark;

  &:hover, &:active {
    color: $color-blue-light;
    background-color: $color-blue-dark;
  }
}

.btn-green {
  color: $color-green-light;
  background-color: $color-green;
  border-bottom: 5px solid $color-green-dark;

  &:hover, &:active {
    color: $color-green-light;
    background-color: $color-green-dark;
  }
}

a {
  color: $color-primary-4;

  &:hover {
    color: $color-primary-4;
    text-decoration: none;
  }
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color-primary-0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-primary-1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-secondary-2;
}

.clickable {
  cursor: pointer;
}

.modal-content {
  background-color: $color-primary-0;

  .modal-header {
    background-color: $color-primary-2;
    border: none;
  }

  .modal-footer {
    border: none;
  }
}

input.form-control, textarea.form-control {
  background-color: $color-primary-2;
  border: none;
  color: $color-primary-4;

  &:focus {
    background-color: $color-primary-1;
    color: $color-primary-4;
    box-shadow: none;
  }

  &[readonly] {
    background-color: $color-primary-2;
    border: none;
    color: $color-primary-4;
  }

  &[readonly]:focus {
    background-color: $color-primary-1;
    color: $color-primary-4;
    box-shadow: none;
  }
}

textarea.form-control {
  resize: none;
}

.table {
  color: $color-primary-4;
}