@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500&display=swap");

@import-normalize ;

@import "colors.scss";

body {
  font-family: "Fira Code", monospace;
  font-size: 100%;
  height: 100vh;
  margin: 0;
  color: $color-primary-4;
  background-color: $color-primary-2;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre {
  font-family: "Fira Code", monospace;
  font-size: 14px;
}

a {
  color: $color-primary-4;

  &:hover {
    text-decoration: none;
    color: $color-primary-4;
  }
}

/* width */
::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $color-primary-0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $color-primary-1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $color-secondary-2;
}

::-webkit-scrollbar-corner {
  background-color: $color-primary-3;
}

.clickable {
  cursor: pointer;
}

.modal-content {
  background-color: $color-primary-0;

  .modal-header {
    border: none;
    background-color: $color-primary-2;
  }

  .modal-footer {
    border: none;
  }
}

.table {
  color: $color-primary-4;
}

.text-muted {
  color: $color-primary-4 !important;
}

.popover-header {
  color: $color-primary-1;
}

.reflex-container.horizontal > .reflex-splitter {
  width: auto;
  margin: 0 15px;
  border-top: 2px solid $color-primary-3;
  border-bottom: 2px solid $color-primary-3;
}

.reflex-container.horizontal > .reflex-splitter:hover,
.reflex-container.horizontal > .reflex-splitter.active {
  border-top: 2px solid $color-secondary-2;
  border-bottom: 2px solid $color-secondary-2;
}

.reflex-container.vertical > .reflex-splitter {
  border-right: 2px solid $color-primary-3;
  border-left: 2px solid $color-primary-3;
}

.reflex-container.vertical > .reflex-splitter:hover,
.reflex-container.vertical > .reflex-splitter.active {
  border-right: 2px solid $color-secondary-2;
  border-left: 2px solid $color-secondary-2;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}
