$color-primary-0: #17223b; // Main Primary color */
$color-primary-1: #040b1b;
$color-primary-2: #0f192e;
$color-primary-3: #1d2841;
$color-primary-4: #eaeaea;

$color-secondary-0: #ff6767;
$color-secondary-1: #a20a0a;
$color-secondary-2: #df3030;
$color-secondary-3: #ff9d9d;
$color-secondary-4: #ffdfdf;

$color-red: #e53935;
$color-red-light: #ffebee;
$color-red-dark: #b71c1c;

$color-pink: #d81b60;
$color-pink-light: #fce4ec;
$color-pink-dark: #880e4f;

$color-purple: #8e24aa;
$color-purple-light: #f3e5f5;
$color-purple-dark: #4a148c;

$color-deep-purple: #5e35b1;
$color-deep-purple-light: #ede7f6;
$color-deep-purple-dark: #311b92;

$color-indigo: #3949ab;
$color-indigo-light: #e8eaf6;
$color-indigo-dark: #1a237e;

$color-green: #43a047;
$color-green-light: #e8f5e9;
$color-green-dark: #1b5e20;

$color-blue: #1e88e5;
$color-blue-light: #e3f2fd;
$color-blue-dark: #0d47a1;
