@import '../colors.scss';

.connections {
  background-color: $color-primary-3;
  padding: 0 10px;
  position: relative;
  height: 100%;
  overflow: auto;

  .table {
    margin-top: 10px;
  }

  .connections-header-padding {
    position: sticky;
    height: 10px;
    background-color: $color-primary-3;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: -10px;
  }

  th {
    background-color: $color-primary-2;
    border-top: 3px solid $color-primary-3;
    border-bottom: 3px solid $color-primary-3;
    font-size: 13.5px;
    position: sticky;
    top: 10px;
    padding: 5px;
  }

  &:hover::-webkit-scrollbar-thumb {
    background: $color-secondary-2;
  }
}
