@import '../colors.scss';

.header {
  padding: 15px 30px;
  height: 80px;

  > .row {
    background-color: $color-primary-0;
  }

  .header-title {
    margin: 5px 0 5px -5px;
    width: 200px;
  }

  .header-buttons {
    margin: 7px 0;
    display: flex;
    justify-content: flex-end;

    .button-field {
      margin-left: 7px;
    }
  }

  .filters-bar {
    padding: 3px 0;

    .filter {
      display: inline-block;
      margin-right: 10px;
    }
  }
}
