@import '../colors.scss';

.header {
  padding: 15px 30px;

  > .row {
    background-color: $color-primary-0;
  }

  .header-title {
    margin: 5px 0 5px -5px;
  }

  .header-buttons {
    margin: 5px 0;
    text-align: right;
  }
}
