@import '../colors.scss';

.curl-output {
  width: 100%;
  font-size: 13px;
}

#pcap-upload{
	align: center;
	width: 100%;
}

.btn-color {
  border: 3px solid #fff;
}

.dialog-footer {
  .btn {
    width: 80px;
  }
}
